<%=turbo_stream.update "container" do%>
    <div>
        <span>This is updated from turbostream</span>
    </div>
<%end%>

<%=turbo_stream.append "container" do%>
    <div class="bg-slate-500 w-[100px] h-[40px]">Card</div>
<%end%>